@font-face {
  font-family: 'HelveticaNeueW01-66MediumIt';
  src: url('../fonts/HelveticaNeueW01-66MediumIt.eot');
  src: url('../fonts/HelveticaNeueW01-66MediumIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueW01-66MediumIt.woff2') format('woff2'),
  url('../fonts/HelveticaNeueW01-66MediumIt.woff') format('woff'),
  url('../fonts/HelveticaNeueW01-66MediumIt.ttf') format('truetype'),
  url('../fonts/HelveticaNeueW01-66MediumIt.svg#HelveticaNeueW01-66MediumIt') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
$main_font:'HelveticaNeueW01-66MediumIt';